[process]
timezone="your-timezone"
protocol='http/https'
host='your-host'

[database]
server='your-database-server-address'
username='your-database-username'
password='your-database-password'
database='your-database-name'

[stripe]
secret_key='your-stripe-secret-key'
endpoint_secret='your-endpoint-signature'